:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

body {
  background-color: var(--almost-white);
}

.header {
  width: 100vw;
  padding: 0 3em;
}

.header-logo {
  padding-top: 1.6em;
}

.header::after {
  content: "";
  display: table;
  clear: both;
}

.header > a {
  float: left;
}

.navigation {
  display: flex;
  align-items: center;
  padding-top: 1em;
  margin-left: 8em;
  list-style: none;
}

.navigation-items {
  color: var(--medium-gray);
  margin-top: 1.5px;
  margin-left: 3em;
}

.navigation-items > a {
  color: var(--medium-gray);
  text-decoration: none;
}

.navigation-items-right {
  margin-left: auto;
}

.navigation-items:hover {
  color: var(--almost-black);
}

.btn {
  border-radius: 15px;
  padding: 0.8em 1.5em;
}

.btn-register {
  margin-top: 0;
  border: 2px solid var(--medium-gray);
  background-color: #fff;
  color: var(--medium-gray);
}

.btn-register:hover {
  cursor: pointer;
  color: var(--almost-black);
  border: 2px solid var(--almost-black);
}

.dropdown {
  cursor: pointer;
}

.dropdown::after {
  content: url("./images/icon-arrow-down.svg");
  margin: 0.5em;
}

.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

.hero-left {
  position: relative;
  padding-top: 10em;
  padding-left: 5em;
  padding-right: 3em;
}

.hero-left > h1 {
  font-size: 4.5rem;
  font-weight: bold;
  color: var(--almost-black);
}

.hero-left > p {
  margin: 2.5em 0 3.5em 0;
  max-width: 45ch;
  font-size: 1.125rem;
  color: var(--medium-gray);
}

.btn-learn-more {
  display: inline;
  padding: 0.8em 1.8em;
  font-size: 1.125rem;
  font-weight: bold;
  background-color: var(--almost-black);
  color: var(--almost-white);
  border: solid 1px var(--almost-black);
}

.btn-learn-more:hover {
  cursor: pointer;
}

.btn-learn-more:active {
  background: var(--almost-white);
  color: var(--almost-black);
}

.hero-left-sponsors {
  position: absolute;
  bottom: 0;
}

.hero-left-sponsors-items {
  display: inline-block;
  margin-right: 2em;
  vertical-align: middle;
}

.hero-right {
  width: 40%;
  padding-left: 12.5em;
}

.hero-right > img {
  height: 100%;
}

.attribution {
  margin-top: 5em;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
