:root {
  --almost-white: hsl(0, 0%, 98%);
  --light-gray: hsl(0, 0%, 82%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

body {
  background-color: var(--almost-white);
}

.header {
  position: relative;
  width: 100vw;
  padding: 0 3em;
}

.header-logo {
  padding-top: 1.6em;
}

.header::after {
  content: "";
  display: table;
  clear: both;
}

.header > a {
  float: left;
}

.navigation {
  display: flex;
  align-items: center;
  padding-top: 1em;
  margin-left: 8em;
  list-style: none;
}

#hamburger-menu {
  display: none;
}

#close-hamburger-menu {
  display: none;
}

.navigation-items {
  color: var(--medium-gray);
  margin-top: 1.5px;
  margin-left: 3em;
}

.navigation-items > a {
  color: var(--medium-gray);
  text-decoration: none;
}

.navigation-items > a:hover {
  color: var(--almost-black);
}

.navigation-items-right {
  margin-left: auto;
}

.navigation-items:hover {
  color: var(--almost-black);
}

.btn {
  border-radius: 15px;
  padding: 0.8em 1.5em;
}

.btn-register {
  margin-top: 0;
  border: 2px solid var(--medium-gray);
  background-color: #fff;
  color: var(--medium-gray);
}

.btn-register:hover {
  cursor: pointer;
  color: var(--almost-black);
  border: 2px solid var(--almost-black);
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown > img {
  margin-left: 0.25em;
}

.dropdown-features {
  display: none;
  position: absolute;
  right: 1em;
  top: 2em;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 0px 15px 0px var(--light-gray);
  opacity: 0;
  transition-duration: 250ms;
}

.dropdown-features > ul {
  list-style: none;
}

.dropdown-features-items {
  width: 7.9em;
  padding: 0.5em;
}

.dropdown-features-items:hover {
  background-color: var(--light-gray);
}

.dropdown-features-items > a {
  color: var(--medium-gray);
  text-decoration: none;
}

.dropdown-features-items > a > img {
  padding-right: 0.5em;
}

.dropdown-company {
  display: none;
  position: absolute;
  top: 2em;
  padding: 1.2em 1.5em;
  border-radius: 10px;
  box-shadow: 0 0px 15px 0px var(--light-gray);
  opacity: 0;
  z-index: 1;
}

.dropdown-company > ul {
  list-style: none;
}

.dropdown-company > ul > li > a {
  text-decoration: none;
  color: var(--medium-gray);
}

.dropdown-company-items {
  width: 10ch;
  padding: 0.5em;
}

.dropdown-company-items:nth-child(2) {
  margin: 0.5em 0;
}

.dropdown-company-items:hover {
  background-color: var(--light-gray);
}

.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80vh;
  min-height: 700px;
}

.hero-left {
  position: relative;
  padding-top: 10em;
  padding-left: 5em;
  padding-right: 3em;
}

.hero-left > h1 {
  font-size: 4.5rem;
  max-width: 11ch;
  word-wrap: break-word;
  font-weight: bold;
  color: var(--almost-black);
}

.hero-left > p {
  margin: 2.5em 0 3.5em 0;
  max-width: 45ch;
  font-size: 1.125rem;
  color: var(--medium-gray);
}

.btn-learn-more {
  display: inline;
  padding: 0.8em 1.8em;
  font-size: 1.125rem;
  font-weight: bold;
  background-color: var(--almost-black);
  color: var(--almost-white);
  border: solid 1px var(--almost-black);
}

.btn-learn-more:hover {
  cursor: pointer;
}

.btn-learn-more:active {
  background: var(--almost-white);
  color: var(--almost-black);
}

.hero-left-sponsors {
  position: absolute;
  bottom: 0;
}

.hero-left-sponsors-items {
  display: inline-block;
  margin-right: 2em;
  vertical-align: middle;
}

.hero-right {
  width: 40%;
  margin-top: 4em;
  padding-left: 5em;
}

#hero-desktop {
  height: 100%;
}

#hero-mobile {
  display: none;
}

.attribution {
  margin-top: 5em;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 660px) {
  .navigation {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: start;
    height: 100vh;
    width: 65vw;
    background-color: var(--almost-white);
    z-index: 1;
    top: 0;
    right: -100vw;
    transition: right 250ms ease-in;
  }

  #close-hamburger-menu {
    display: block;
    position: fixed;
    top: 1em;
    right: -100vw;
    z-index: 2;
    transition: right 250ms ease-in;
  }

  .mobile-navigation-background {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .navigation-items {
    margin-left: 2em;
    margin-bottom: 1.5em;
    text-align: left;
    transition: bottom 100ms ease-in;
  }

  .navigation-items:nth-child(1) {
    margin-top: 3em;
  }

  .navigation-items-right {
    margin-top: 1em;
    margin-inline: auto;
  }

  .btn-register {
    display: block;
    padding: 1em 100%;
  }

  .dropdown-features {
    display: none;
    top: 1em;
    left: 0;
    z-index: 2;
    opacity: 1;
    box-shadow: 0 0 0 0;
    transition: ease-in;
    transition-duration: 500ms;
  }

  .dropdown-company {
    display: none;
    top: 1em;
    opacity: 1;
    box-shadow: 0 0 0 0;
  }

  .header {
    padding: 0 1em;
  }

  #hamburger-menu {
    display: block;
    float: right;
    margin-top: 1.5em;
  }

  .hero {
    flex-direction: column-reverse;
    justify-content: start;
    min-height: 0px;
  }

  .hero-right {
    width: 100vw;
    padding: 0;
    margin-top: 0;
  }

  #hero-desktop {
    display: none;
  }

  #hero-mobile {
    display: block;
    width: 100%;
  }

  .hero-left {
    width: 100vw;
    padding: 0;
  }

  .hero-left > h1 {
    font-size: 2rem;
    max-width: none;
    text-align: center;
    padding-top: 1em;
  }

  .hero-left > p {
    text-align: center;
    font-size: 1rem;
    max-width: 36ch;
    margin: 1.5em auto;
  }

  .btn-learn-more {
    display: table;
    padding: 0.8em 1.2em;
    font-size: 1rem;
    font-weight: normal;
    margin-inline: auto;
    margin-bottom: 2em;
  }

  .hero-left-sponsors {
    display: table;
    position: relative;
    margin-inline: auto;
  }

  .hero-left-sponsors-items {
    display: inline-block;
    width: 20vw;
    margin: 0.5em;
  }

  .navigation-features-expanded {
    margin-bottom: 12em;
  }

  .navigation-company-expanded {
    margin-bottom: 10em;
  }
}
